<div class="container">
	<div ng-include="'components/navbar/navbar.html'"></div>
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<h1>Search by Artist</h1>
		</div>
	</div>
	<div class='row'>
		<div class='search col-sm-6 col-md-6'>
			<label labelFor='artistName'>Search for</label>
			<input id='artistName' type="text" placeholder='Name of artist...' ng-model='artistToSearchFor'>
			<button id='search' ng-click='searchForArtist()'>Search</button>
		</div>
	</div>
	<hr/>
	<div class='row col-md-12'>
		<div>
			<table width="100%">
				<thead>
					<th>Artist Name</th>
					<th>Artist Name</th>
					<th>Artist Name</th>
				</thead>
				<tbody>
					<tr ng-repeat='artistGroup in threeColumnArtistsList'>
						<td class='col-md-6' ng-repeat='artist in artistGroup'>
							<a href='#/artist/{{artist.Id}}'>
								<img style='margin-right: 2px;' src={{artist.PictureUrl}} class='artistThumbnail'>{{artist.Name}}
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>